---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import MushroomChain from '../components/MushroomChain.astro';
import StarChain from '../components/StarChain.astro';
import CakeChain from '../components/CakeChain.astro';
import NaviChain from '../components/NaviChain.astro';
import Cursor from '../components/Cursor.astro';
---

<Layout title="Matt Stenback - Product Maker">
	<main>
		<Hero />
	</main>

	<MushroomChain />
	<StarChain />
	<CakeChain />
	<NaviChain />
	<Cursor />

	<script>
		import tippy, { followCursor } from "tippy.js";
		import "tippy.js/dist/tippy.css";
		import "tippy.js/animations/shift-away.css";
		import { hasTouchScreen } from '../scripts/touch-screen.js';

		if (!hasTouchScreen) {
			tippy('[data-tippy-content]', {
				arrow: true,
				theme: "matt",
				placement: "right",
				appendTo: document.body,
				followCursor: "vertical",
				animation: "shift-away",
				hideOnClick: false,
				maxWidth: 260,
				plugins: [followCursor],
			});
		}	else {
			tippy('[data-mobile-tippy]', {
				arrow: true,
				theme: "matt",
				placement: "right",
				appendTo: document.body,
				animation: "shift-away",
				trigger: 'click',
				offset: [0, 10],
				maxWidth: 180,
			});
		}
	</script>
</Layout>
