---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Journal from '../components/Journal.astro';
import Footer from '../components/Footer.astro';
import Bookmarks from '../components/Bookmarks.astro';
import Cursor from '../components/Cursor.astro';
---

<Layout title="Matt Stenback - Designer and Developer">
	<div class='z-0 fixed top-0 inset-x-0 w-px bg-cartridge-600 h-screen mx-auto max-md:hidden'></div>
	<div class='absolute top-0 inset-x-0 bottom-40 bg-cartridge max-md:hidden'></div>

	<p
		id="matt-stenback-vertical"
		data-tippy-content=":)"
		data-tippy-offset="[0, 24]"
		class="fixed top-8 left-6 font-mono italic text-sm text-purple text-vertical whitespace-nowrap transition-all duration-1000 -translate-x-10 opacity-0">
		Matt Stenback
	</p>

	<main class="container mx-auto px-10">
		<Hero />
		<About />
		<Journal />
		<Bookmarks />

		<div class="flex pt-32 md:justify-center max-sm:pt-20 max-sm:pl-1">
			<h3 
				data-tippy-content="Cya!"
				class="font-headline text-9xl text-purple text-vertical whitespace-nowrap z-10 pr-8"
			>
				Thanks for stopping by
			</h3>
		</div>
	</main>

	<Footer />
	<Cursor />

	<script>
		import tippy, { followCursor } from "tippy.js";
		import "tippy.js/dist/tippy.css";
		import "tippy.js/animations/shift-away.css";
		import { hasTouchScreen } from '../scripts/touch-screen.js';

		if (!hasTouchScreen) {
			tippy('[data-tippy-content]', {
				arrow: true,
				theme: "matt",
				placement: "right",
				appendTo: document.body,
				followCursor: "vertical",
				animation: "shift-away",
				hideOnClick: false,
				maxWidth: 260,
				plugins: [followCursor],
			});
		}	else {
			tippy('[data-tippy-content]', {
				arrow: true,
				theme: "matt",
				placement: "right",
				appendTo: document.body,
				animation: "shift-away",
				// hideOnClick: true,
				trigger: 'click',
				maxWidth: 220,
			});
		}
	</script>

</Layout>
