---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hello">
	<main>
		<div class="flex justify-between py-6">
			<p class="font-mono text-sm">
				Matt Stenback
			</p>
			<p class="font-mono text-sm">
				St. John's, NL
			</p>
		</div>

		<div class='my-32 text-center relative'>
			<h2 class="text-hero text-purple font-display">
				<span class="irregardless-wide-rounds">C</span>reat<span class="lowercase">i</span>ve 
				<br />
				Technolog<span class="lowercase">i</span>st
			</h2>

			<h1 class="text-9xl text-indigo font-mono italic leading-none -rotate-15 z-10 absolute top-0 left-0 right-0">
				<div class="flex flex-col items-center justify-center">
					<div class="flex">
						<span class="hvr-bounce-in">M</span>
						<span class="hvr-bounce-in">a</span>
						<span class="hvr-bounce-in">t</span>
						<span class="hvr-bounce-in">t</span>
					</div>
					<div class="flex">
						<span class="hvr-bounce-in">S</span>
						<span class="hvr-bounce-in">t</span>
						<span class="hvr-bounce-in">e</span>
						<span class="hvr-bounce-in">n</span>
						<span class="hvr-bounce-in">b</span>
						<span class="hvr-bounce-in">a</span>
						<span class="hvr-bounce-in">c</span>
						<span class="hvr-bounce-in">k</span>
					</div>
				</div>
			</h1>
		</div>
		
		<p class="font-serif">
			<span class="smallcaps">Hey there</span>, some body copy.
			<a href="#" class="underline hover:text-orange">
				This is a link
			</a>.
		</p>
	</main>
</Layout>
