<div class="flex pt-32 md:justify-center max-sm:pt-8 max-sm:pl-1">
  <h3 class="font-headline text-9xl text-purple text-vertical whitespace-nowrap z-10 pr-8">
    Hello
  </h3>
</div>

<div class="py-32 grid grid-cols-9 gap-4 max-sm:py-20 max-sm:pl-7">
  <div class="col-span-5 md:col-span-2 md:col-start-3 max-sm:mb-6">
    <img src="/images/matt.png" alt="Matt Stenback" class="w-full" />
  </div>

  <div class="col-span-9 md:col-span-4 md:col-start-6">
    <p class="md:text-xl mb-4">
      <span class="smallcaps">I’m a designer and developer</span> with a particular interest in UX, DX and AI. I get up in the morning for a big vision, and I stay up late for the small details.
    </p>
    <p class="md:text-xl mb-4">
      I’ve been making software for 15 years. Currently I lead the application development team at Sequence Bio; building tools that support genetic research.
    </p>
    <p class="md:text-xl mb-4">
      In true generalist fashion, my work is a broad sampling of code, pixels, diagrams, and documents. From Figma, through the application stack, down to the infrastructure, and all the glue in between. Lately though, I've been gravitating towards the front end.
    </p>
    <p class="md:text-xl">
      I also <a href="https://www.instagram.com/stenback" target="_blank">like to bake</a>.
    </p>
  </div>
</div>
