---
const { orientation, title, tags, url } = Astro.props
---

<div class="grid grid-cols-9 gap-4 mb-4">
  <div class={`col-span-9 md:col-span-4 ${orientation === 'right' ? 'md:col-start-6' : 'md:text-right'}`}>
    <h4 class="text-2xl md:text-3xl">
      <a href={url}>
        { title }
      </a>
    </h4>

    <div class={`flex gap-x-4 font-mono text-xs mt-4 ${orientation === 'left' ? 'md:justify-end' : ''}`}>
      { tags.map((tag) => {
       return <span>#{tag}</span>;
      }) }
    </div>
  </div>
</div>