---
import JournalEntry from "./JournalEntry.astro";
const entries = await Astro.glob('../pages/journal/*.mdx');
---

<div class="flex pt-32 md:justify-center max-sm:pl-1">
  <h3
    data-tippy-content="No rhyme or reason to the writing here. But having a place to publish is an inventive to formulate more coherent thoughts. (One can hope. TBD)"
    class="font-headline text-9xl text-purple text-vertical whitespace-nowrap z-10 pr-8"
  >
    Journal
  </h3>
</div>

<div class="py-32 max-sm:pl-7">
  {entries.map((entry, index) => {
    const orientation = index % 2 === 0 ? 'right' : 'left';

    return <JournalEntry title={entry.frontmatter.title} url={entry.url} tags={entry.frontmatter.tags} orientation={orientation} />;
  })}
</div>
