---
import '../styles/base.css';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<meta name="description" content="Matt Stenback is a designer and developer with a particular interest in UX, DX and the practical application of AI.">
		<link rel="stylesheet" href="https://use.typekit.net/ymm2cgu.css">
	
		<!-- Google tag (gtag.js) -->
		<script async type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-D4FRL52F7E"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-D4FRL52F7E');
		</script>
	</head>

	<body class="bg-cartridge">
		<slot />
	</body>
</html>
